@charset "utf-8";
body{ background:#fff;  color:#000; font-family:"微软雅黑" }
/**首页**/
.main{border-top:7px solid #ab7f64;}
.top{ height:58px; border-top:1px solid #c4c3be; border-bottom:1px solid #c4c3be; margin:2px auto;}
.top .logo{ width:114px; height:42px; margin:10px 0 0 36px;}
.top .tWrap1{ width:100px; height:20px; line-height:20px; margin:27px 0 0 20px; color:#7b7b7d;}
.top .tWrap2{ width:200px; padding-right:40px; background:url(../images/bg/arr.gif) no-repeat right 1px; height:20px; line-height:20px; font-weight:bold; margin-top:27px;font-size:14px;}
.orderList{ width:128px; padding-top:20px; }
.orderList ul{border-bottom:1px solid #c3c3c1;}
.orderList ul li{ height:23px; line-height:23px; text-align:center; border:1px solid #c3c3c1; border-bottom:none}
.orderList ul li a{ display:block;}
.orderList .on{ border:1px solid #c9c59f; border-bottom:none; background:#fffddd;}
.rtWrap{ width:840px;}
.rtWrap h2{ height:23px; background:#c3c3c3; text-align:center; line-height:23px; color:#fff; position:relative;}
.rtWrap .num{ position:absolute; left:20px; height:23px; line-height:23px;}
.rtWrap .oBox1{ border:1px dashed #c1c1c1; border-top:none; padding:20px 0; line-height:20px;}
.rtWrap .oBox2{ margin-bottom:20px;}
.rtWrap .oBox2 li{  line-height:24px; border-bottom:1px dashed #c1c1c1; padding:8px 0}
.rtWrap .oBox2 .sp1{ height:16px; padding:0 5px; line-height:16px; border:1px solid #d2cc76;}
.rtWrap .oBox2 .sp2{ height:16px; padding:0 5px; line-height:16px; border:1px solid #c4c4c4;}
.rtWrap .oBox2 .sp3{ height:16px; width:16px; display:inline-block;  padding:0 5px; background:url(../images/bg/sure.gif) no-repeat left center;}
.rtWrap .oBox2 .t2{ text-indent:2em}
.yzIpt{ height:18px; line-height:16px; border:1px solid #c4c4c4; width:60px; color:#7c7b83; padding:0 5px;}
.Ipt2{ height:18px; line-height:16px; border:1px solid #c4c4c4; width:100px; color:#7c7b83; padding:0 5px;}
.btnSend{ height:20px; line-height:18px; border:1px solid #c4c4c4; width:40px; color:#7c7b83; text-align:center; cursor:pointer; background:#fff;}
.foot{  border-bottom:7px solid #ab7f64; color:#7c7c7el; line-height:24px; text-align:right; padding-top:20px;  color:#7e7e7e;}
.rtWrap .oBox3{ width:840px;}
.rtWrap .oBox3 th{ height:30px; line-height:30px; border-bottom:1px dashed #c1c1c1; text-align:center;white-space:nowrap;}
.rtWrap .oBox3 td{ padding:10px 0; line-height:18px; border-bottom:1px dashed #c1c1c1; text-align:center;white-space:nowrap;}
.rtWrap .oBox3 .sp1{ height:16px; padding:0 5px; line-height:16px; border:1px solid #d2cc76;}
.rtWrap .oBox3 .sp2{ height:16px; padding:0 5px; line-height:16px; border:1px solid #c4c4c4;white-space:nowrap;}
.rtWrap .oBox4{border-left:1px dashed #c1c1c1; border-right:1px dashed #c1c1c1;}
.rtWrap .oBox4 td{ border-bottom:1px dashed #c1c1c1; padding:10px 0; line-height:18px;}
.rtWrap .gutaiform{ width:840px;padding-left:10px;}
.rtWrap .gutaiform td{ height:15px; padding:10px 0; line-height:18px; border-bottom:1px dashed #c1c1c1;}
.seller { border:1px solid #c9c59f; width:110px;height:15px;padding: 5px;text-align:center;float:left;cursor: pointer;}
.buyer { border:1px solid #c9c59f;width:110px;height:15px;padding: 5px;text-align:center;float:right;cursor: pointer;}
.typeOn {background:#fffddd;}
.typeMain {width:260px;display:block;padding-bottom:10px;}
#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {height:260px; width:500px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:13px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}

#basic-modal-content p {
    padding:3px;
    font-size:12px;
}
.border_btn {
    padding:7px;border:1px #fff solid;
    cursor: pointer;
}