<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--
<?php
$headmoreword = $lfjid ? "<a href=\"$webdb[www_url]/member\"  target=\"_top\">会员中心</a> ｜ <a href=\"$webdb[www_url]/do/login.php?action=quit\"  target=\"_top\">退出</a>":"<a href=\"$webdb[www_url]/do/login.php\" target=\"_top\">登录</a> | <a href=\"$webdb[www_url]/do/reg.php\"  target=\"_top\" >注册</a>";
print <<<EOT
-->
<head>
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/default/err/style.css">
<title>$webdb[webname]</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/inc.js"></SCRIPT>
</head>
<body>
<div class="container">
	<div class="head">
    	<div class="logo"><a href="$webdb[www_url]"><img src="$webdb[www_url]/images/default/err/logo.gif" /></a></div>
        <div class="more"><a href="$webdb[www_url]/" target="_top">平台</a> 丨 <a href="http://www.darkgreen.cn/search/search.php?action=search" target="_top">搜索</a> &nbsp;&nbsp;&nbsp;&nbsp; $headmoreword</div>
    </div>
    <div class="cont">
    	<div class="showerrMsg">$showerrMsg</div>        
    </div>
    
</div>
</body>
</html>
<!--
EOT;
?>
-->