<!--
<?php
print <<<EOT
--> 
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<div id="ly_about" class="heightboxx">
  <div class="ly_about_l">
  <!--
EOT;
$styleid=$_GET[id];
$querypro = $db->query("SELECT * FROM home_alonepage order by id asc");
while($key = $db->fetch_array($querypro)){
if($styleid==$key[id]){$listy='class=ly_about_l_on';}
print <<<EOT
-->
    <li $listy><a href="/do/about.php?id=$key[id]" style="display:block">$key[name]</a></li>
  <!--
EOT;
if($styleid>=$key[id]){$listy='';}
}print <<<EOT
-->  <li class=ly_about_l_on><a href="/guestbook/" style="display:block">意见反馈</a></li>
<li><a href="/news/help-htm-fid-44.html" style="display:block">帮助中心</a></li>
 <li><a href="/news/article-htm-fid-46.html" style="display:block">网站公告</a></li>
  </div>
  
  <div class="ly_about_r" style="padding-left:0px;"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable">
  <tr> 
    <td class="head"> 
      <h3 class="L"></h3>
      <span class="TAG">回复留言</span> 
      <h3 class="R"></h3>
    </td>
  </tr>
  <tr> 
    <form name="form1" method="post" action="">
      <td class="middle" align="center"> 
        <textarea name="content" cols="100" rows="10">$content</textarea>
        <br>
        <input type="button" name="Submit" value="返回" onclick="window.location.href='$FROMURL'">
        <input type="submit" name="Submit" value="回复">
        <input type="hidden" name="id" value="$id">
        <input type="hidden" name="step" value="2">
        <input type="hidden" name="fid" value="$fid">
      </td>
    </form>
  </tr>
  <tr> 
    <td class="foot"> 
      <h3 class="L"></h3>
      <h3 class="R"></h3>
    </td>
  </tr>
</table></div>
  
</div>



<!--
EOT;
?>
-->