<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=7, IE=9" />
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta name="keywords" content="$titleDB[keywords]" />
    <meta name="description" content="$titleDB[description]" />
    
    <title>注册企业会员 绿页商务</title>
    
    <link rel="stylesheet" type="text/css" href="/images/default/common.css" />
    <link rel="stylesheet" type="text/css" href="/images/default/reg/default.css" />
    
    <script language="javascript" src="/common/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/images/default/index.js"></script>
    <script language="javascript" src="/images/default/inc.js"></script>
    <script language="javascript" src="/images/default/default.js"></script>
    <script language="javascript" src="/images/default/swfobject.js"></script>
    <script language="javascript">function killErr(){return true;}window.onerror=killErr;</script>

</head>
<body ondblclick="$bodyondblclick">
<!--
<?php
print <<<EOT
-->
<div id="ly_reg_top">
  <div class="ly_reg_top_c">
    <span style="font-size:12px; position: relative; top: 43px;">
        <a href="/" class="logintop">返回平台</a>&nbsp;|&nbsp;
        <a href="/news/help-htm-fid-44.html" class="logintop">帮助中心</a>
    </span>
  </div>
</div>
<div id="ly_reg" class="heightbox">
<div class="MainContainer" style="margin-top: 30px;">
    <div class="Mcont">
        <form name="form4Reg" method="post" action="?f">
            <dl>
                <dt><span>*</span>设置用户名</dt>
                <dd>
                    <span class="input"><input type="text" name="username" id="reg_username" onblur="ckdata('reg_username','username_msg','name')" style="width:200px;height:21px;" class="inputbg"/></span> 
                    <span><font style="font-size:12px;">3-15字符以内,可以是汉字,a-z,0-9及下划线</font></span>
                    <span style="color: red; margin-left: 15px;">*</span>&nbsp;<span style="font-size:12px;">标识必填项</span>
                </dd>
            </dl>
            <div id="username_msg" class="showinfo"></div>
            <div style="clear: both; height: 25px;">&nbsp;</div>
            <dl>
                <dt><span>*</span>设置密码</dt>
                <dd>
                    <span class="input"><input type="password" name="password" id="reg_password" onblur="ckdata('reg_password','password_msg','pwd')" style="width:200px;height:21px;" class="inputbg"/> </span>
                </dd>
            </dl>
            <div id="password_msg" class="showinfo"></div>
            <dl>
                <dt><span>*</span>再输入一遍</dt>
                <dd>
                    <span class="input"><input type="password" name="password2" id="reg_password2" style="width:200px;height:21px;" class="inputbg"/></span>
                </dd>
            </dl>
            <div style="clear: both; height: 25px;">&nbsp;</div>
            <dl>
                <dt><span>*</span>邮箱地址</dt>
                <dd>
                    <span class="input"><input type="text" name="email" id="reg_email" onblur="ckdata('reg_email','email_msg','email')" style="width:200px;height:21px;" class="inputbg"/> </span>
                    <span><font style="font-size:12px;">忘记密码时需要</font></span>
                </dd>
                
            </dl>
            <div id="email_msg" class="showinfo"></div>
            <!--<dl> 
                <dt>您的QQ号码</dt>
                <dd> 
                  <span class="input"><input type="text" name="oicq" style="width:150px;height:18px;"></span>
                </dd>
            </dl>-->
            <div style="clear: both; height: 40px;">&nbsp;</div>
            <div class="ly_reg_tit">
                <div class="ly_reg_tit_l">企业信息</div>
            </div>
            <div style="clear: both; height: 30px;">&nbsp;</div>
            <dl> 
                <dt><span>*</span>企业名称</dt>
                <dd> 
                  <span class="input"><input type="text" name="title" style="width:200px;height:21px;" class="inputbg" id="reg_title" /></span>
                  <span><font style="font-size:12px;">工商注册登记的名称</font></span>
                </dd>
            </dl>
            <dl> 
                <dt><span>*</span>企业地址</dt>
                <dd> 
                  <span class="input"><input type="text" name="qy_address" style="width:200px;height:21px;" class="inputbg" id="reg_address" /></span>
                </dd>
            </dl>
            <dl> 
                <dt>&nbsp;&nbsp;企业法人</dt>
                <dd> 
                  <span class="input"><input type="text" name="qy_contact" style="width:200px;height:21px;" class="inputbg" /></span>
                </dd>
            </dl>
            <dl> 
                <dt><span>*</span>企业联系电话</dt>
                <dd>
                  <span class="input"><input type="text" name="reg_tel" style="width:200px;height:21px;" class="inputbg" id="reg_tel" /></span>
                </dd>
            </dl>
<!--
EOT;
if($webdb[yzNumReg] == 2){
print <<<EOT
-->
            <dl> 
                <dt><span>*</span>手机验证码</dt>
                <dd> 
                  <span class="input"><input type="text" id="yznumMob" name="yznum" style="width:80px;height:21px;" class="inputbg"/></span>
                  
                  <span style="margin-left: 115px;"><font style="font-size:12px;">输入手机号码</font></span> 
                  <span class="input"><input type="text" id="mobblenum" size="20" name="mobphone" class="inputbg" style="width: 80px;" /></span>
                  <span class="input"><input  value="点击发送" type="button"  onclick="sendsms(2);"/></span>
                  <span><font style="font-size:12px;">获取验证码</font></span>
                </dd>
            </dl>
<!--
EOT;
}
elseif($webdb[yzNumReg] == 1){
print <<<EOT
-->
            <dl> 
                <dt><span>*</span>邮件注册码</dt>
                <dd> 
                  <span class="input"><input type="text" name="yznum" style="width:80px;height:21px;" class="inputbg"/></span>
                  <span>请点击发送邮件获取注册码</span> 
                  <span class="input"><input  value="发送邮件" type="button"  onclick="sendsms(1);"/></span>
                </dd>
            </dl>        
<!--
EOT;
}
if($webdb[yzImgReg]){
print <<<EOT
-->
          <dl>
            <dt><span>*</span>验证码</dt>
            <dd><span class="input"><input type="text" name="yzimg" style="height:21px;width:80px;" class="inputbg" /></span>
<!-- 
EOT;
if($webdb[YzImg_voice]){
print <<<EOT
-->
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="0" height="0" id="code_play" align="middle">
<param name="allowscriptAccess" value="always" />
<param name="FlashVars" value="url=$webdb[www_url]/do/voice_code.php" />
<param name="movie" value="$webdb[www_url]/images/default/code_play.swf"/>
<param name="quality" value="high" />
<param name="bgcolor" value="#ffffff" />
<embed id="code_play" name="code_play" src="$webdb[www_url]/images/default/code_play.swf"  FlashVars="url=$webdb[www_url]/do/voice_code.php" quality="high" bgcolor="#ffffff" width="0" height="0" align="middle" allowscriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>
<span class="img"><a href="javascript:void(0);" onclick="javascript:readVoiceCode();" style="color:blue" title="点击获取验证码"><img src="$webdb[www_url]/images/default/seccodeplayer.gif"/>点击获取验证码</a></span> <span>(请输入你听到的字符)</span>

<script language="Javascript">
<!--
function readVoiceCode()
{
    window.document.code_play.SetVariable("isPlay", "1");
}
//-->
</script>
<!--
EOT;
}else{
print <<<EOT
-->
<script language="Javascript">
<!--
document.write('<span class="img"><img border="0" name="imageField" onclick="this.src=this.src+Math.random();" src="$webdb[www_url]/do/yzimg.php?'+Math.random()+'"></span>');
//-->
</script>
<!-- 
EOT;
}
print <<<EOT
-->
            </dd>
          </dl>          
<!--
EOT;
}
print <<<EOT
-->
<script language="Javascript">
<!--
var filed_id='';
var filed_name='';
function ckregdata(a,b){
    filed_id=a;
    filed_name=b;
}
function ckregdatapost(){
    id_array=filed_id.split(',');
    name_array=filed_name.split(',');
    for(var i=0;i<id_array.length;i++){
        if(id_array[i]!=''&&document.getElementById(id_array[i]).value==''){
            alert("“"+name_array[i]+'”不能为空');
            document.getElementById(id_array[i]).focus();
            return false;
        }
    }
}
document.write('<script src="$webdb[www_url]/images/default/setday.js"><\/script>');
/*如要为页面布局考虑的话，你可以把template\default\regfield.htm里边的内容复制过来，然后把以下两行删除即可*/
document.write('<div id="showRegDiv"></div>');
AJAX.get("showRegDiv","$webdb[www_url]/do/regfield.php?job=reg");
//-->
</script>
            <!--<dl> 
                <dt>您的MSN</dt>
                <dd> 
                  <span class="input"><input type="text" name="msn" style="width:180px;height:18px;"></span>
                </dd>
            </dl>-->
            
            <div style="clear: both; height: 30px;">&nbsp;</div>
            <div class="submits" style="clear: both; text-align: center;">
                <img id="submitImg" src="$webdb[www_url]/images/default/reg/reg2.gif" 
                    style="cursor: pointer;"
                    onclick="doSubmit()"/>&nbsp;&nbsp;
                <span class="input"><input id="agreeChk" name="agree" type="checkbox" value="1" checked="checked" /></span>
                <span>我已阅读并同意 <a href="reg1.html" target="_blank">会员注册协议</a></span>
                <input type="hidden" name="step" value="2" />
                <input type="hidden" value="$grouptype" name="grouptype" />
            </div>
            <div style="clear:both;height:20px;"></div>
        </form>
<script language="Javascript">
<!--
function doSubmit() {
    if (regpost()) {
        document.form4Reg.submit();
    }
}

function regpost(){
    if(document.getElementById('reg_username').value==''){
        alert('用户名不能为空！');
        document.getElementById('reg_username').focus();
        return false;
    }
    if($('#reg_username').val().length < 3 || $('#reg_username').val().length > 30){
        alert('用户名不能小于3个字符或大于30个字符，请重新输入！');
        document.getElementById('reg_username').focus();
        return false;
    }
    if(document.getElementById('reg_password').value==''){
        alert('密码不能为空！');
        document.getElementById('reg_password').focus();
        return false;
    }
    if($('#reg_password').val().length < 6 || $('#reg_password').val().length > 30){
        alert('密码不能小于6个字符或大于30个字符，请重新输入！');
        document.getElementById('reg_password').focus();
        return false;
    }
    if(document.getElementById('reg_password2').value==''){
        alert('确认密码不能为空！');
        document.getElementById('reg_password2').focus();
        return false;
    }
    if($('#reg_password2').val() != $('#reg_password').val() ){
        alert('确认密码与设置密码不同，请重新输入！');
        document.getElementById('reg_password2').focus();
        return false;
    }
    if(document.getElementById('reg_email').value==''){
        alert('电子邮箱不能为空！');
        document.getElementById('reg_email').focus();
        return false;
    }
    var filter  = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    if (!filter.test($("#reg_email").val())) {
        alert('邮箱不符合规则，请重新输入！');
        document.getElementById('reg_email').focus();
        return false;
    }
    
    if(document.getElementById('reg_title').value==''){
        alert('企业名称不能为空！');
        document.getElementById('reg_title').focus();
        return false;
    }
    if(document.getElementById('reg_address').value==''){
        alert('企业地址不能为空！');
        document.getElementById('reg_address').focus();
        return false;
    }
    if(document.getElementById('reg_tel').value==''){
        alert('联系电话不能为空！');
        document.getElementById('reg_tel').focus();
        return false;
    }

    if ("" == $("#mobblenum").val()) {
        alert('手机号不能为空！');
        document.getElementById('mobblenum').focus();
        return false;
    }
    filter = /^1([0-9]{10})$/;
    if (!filter.test($("#mobblenum").val())) {
        alert('手机号不符合规则，请重新输入！');
        document.getElementById('mobblenum').focus();
        return false;
    }
    if ("" == $("#mobblenum").val()) {
        alert('手机注册码不能为空！');
        document.getElementById('mobblenum').focus();
        return false;
    }
    if (!$("#agreeChk").prop("checked")) {
        alert('您必须在已阅读并同意会员注册协议的前提下才可以注册！');
        return false;
    }
    
    if(ckregdatapost()==false){
        return false;
    }
    return true;
}
function ckdata(a,b,c){
    AJAX.get(b,"$webdb[www_url]/do/job.php?job=ckreg&name="+document.getElementById(a).value+"&type="+c);
}
function sendsms(type){
    if(type == 2){
        if(document.getElementById('mobblenum').value==''){
            alert('请输入手机号码');
            document.getElementById('mobblenum').focus();
            return false;
        }
        window.open("$webdb[www_url]/do/job.php?job=regsendnum&num="+document.getElementById('mobblenum').value+"&type="+type);
    }    
    if(type == 1){
        if(document.getElementById('reg_email').value==''){
            alert('请输入邮箱帐号');
            document.getElementById('reg_email').focus();
            return false;
        }
        window.open("$webdb[www_url]/do/job.php?job=regsendnum&num="+document.getElementById('reg_email').value+"&type="+type);
    }
}
//-->
</script> 
    </div>
</div>
</div>
<div class="Agreement" id="Agreement" style="display:none;">
    <div class="h"><span>会员注册协议</span><a href="javascript:;" onclick="hiddenAgreement()">关闭</a></div>
    <div class="c">
        <h3>一、不得利用本站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用本站制作、复制和传播下列信息：</h3> 
        <div>（一）煽动抗拒、破坏宪法和法律、行政法规实施的；</div>
        <div>（二）煽动颠覆国家政权，推翻社会主义制度的；</div>
        <div>（三）煽动分裂国家、破坏国家统一的；</div>
        <div>（四）煽动民族仇恨、民族歧视，破坏民族团结的；</div>
        <div>（五）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</div>
        <div>（六）宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；</div>
        <div>（七）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</div>
        <div>（八）损害国家机关信誉的；</div>
        <div>（九）其他违反宪法和法律行政法规的；</div>
        <div>（十）发布黄色反动文章</div>
        <h3>二、互相尊重，对自己的言论和行为负责。</h3>
    </div>
</div>
<script language="Javascript">
<!--
function hiddenAgreement(){
    document.getElementById("Agreement").style.display="none";
}
function showAgreement(){
    document.getElementById("Agreement").style.display="block";
}
//-->
</script> 
<!--
EOT;
?>
-->
</body>
</html>