<!--
<?php
print <<<EOT
--> 
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/yellow/shop_becandy.css">
<div id="lysw_main" class="heightbox">
<table width="99%" border="0" cellspacing="0" cellpadding="0" class="supply_view">
  <tr> 
    <td width="70%" height="246" valign="top" class="main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td class="head"> 
            <div class="LL"></div>
            <div class="TAG">$fidDB[name]</div>
            <div class="RR"> <a href="$webdb[www_url]/member/?main=$Murl/member/post.php?fid=$fid">发布</a> 
              <!--
EOT;
if($web_admin||$lfjuid==$rsdb[uid]){print <<<EOT
-->
              <a href="$webdb[www_url]/member/?main=$Murl/member/post.php?job=edit&fid=$fid&id=$id">修改</a> 
              <a href="$webdb[www_url]/member/?main=$Murl/member/post.php?action=del&fid=$fid&id=$id">删除</a> 
              <!--
EOT;
}print <<<EOT
-->
            </div>
          </td>
        </tr>
        <tr> 
          <td class="CC"> 
            <div class="bencandy_pic">
                <div class="flexslider">
                    <ul class="slides">
<!--
EOT;
foreach($picdb AS $value){
print <<<EOT
-->
<li><a href="$city_url/job.php?job=show_img&fid=$value[fid]&id=$value[id]">
    <img src='$value[imgurl]' onError="this.src='$webdb[www_url]/images/default/nopic.jpg'" border="0" width="390" style="max-height:260px;"></a></li>
<!--
EOT;
}print <<<EOT
-->
                    </ul>
                </div>
                <div align="center" style="padding-top:5px;">
                <a href="$city_url/job.php?job=show_img&fid=$fid&id=$id" class="but" target="_blank" style="width:40px;">共{$rsdb[picnum]}图</a></div>
            </div>
            <div class="describ"> 
              <div class="title">{$rsdb[title]}</div>
              <div class="infoa">发布时间:<a editurl='$Murl/job.php?job=bencandy&fid=$fid&id=$id&act=do'>{$rsdb[posttime]}</a>　&nbsp;&nbsp; 浏览量：{$rsdb[hits]}次</div>
              <div class="infob"> 
                <div><span>价格：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: rgb(85, 126, 94)">&#65509; {$rsdb[price]} </span></div>
				<!--
EOT;
if($rsdb['huiyuan_price'] > 0){print <<<EOT
-->
                 <div><span>会员价：&nbsp;&nbsp;&nbsp;</span><span style="color: rgb(85, 126, 94)">&#65509; {$rsdb[huiyuan_price]} </span></div>
				 <!--
EOT;
}print <<<EOT
--><!--
EOT;
if($rsdb['market_price']){print <<<EOT
-->

				 <!--
EOT;
}print <<<EOT
-->
              </div>
                <div class="content_details">

<!--
EOT;
if(!empty($rsdb[pinpai])){print <<<EOT
-->
                    <div><span>品牌: </span>{$rsdb[pinpai]} </div>
<!--
EOT;
}print <<<EOT
-->

<!--
EOT;
if(!empty($rsdb[xinghao])){print <<<EOT
-->
<div><span>型号: </span>{$rsdb[xinghao]} </div>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
if(!empty($rsdb[chicun])){print <<<EOT
-->
<div><span>尺寸: </span>{$rsdb[chicun]} </div>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
if(!empty($rsdb[yanse])){print <<<EOT
-->
<div><span>颜色: </span>{$rsdb[yanse]} </div>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
if(!empty($rsdb[goucheng])){print <<<EOT
-->
<div><span>构成: </span>{$rsdb[goucheng]} </div>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
if(!empty($rsdb[caizhi])){print <<<EOT
-->
<div><span>材质: </span>{$rsdb[caizhi]} </div>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
if(!empty($rsdb[zhongliang])){print <<<EOT
-->
<div><span>重量: </span>{$rsdb[zhongliang]} </div>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
if(!empty($rsdb[anquan])){print <<<EOT
-->
<div><span>安全: </span>{$rsdb[anquan]} </div>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
if(!empty($rsdb[zhiliang])){print <<<EOT
-->
<div><span>质量: </span>{$rsdb[zhiliang]} </div>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
if(!empty($rsdb[biaozhun])){print <<<EOT
-->
<div><span>标准: </span>{$rsdb[biaozhun]} </div>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
if(!empty($rsdb[gongyi])){print <<<EOT
-->
<div><span>工艺: </span>{$rsdb[gongyi]} </div>
<!--
EOT;
}print <<<EOT
-->

<!--
EOT;
if(!empty($rsdb[peijian])){print <<<EOT
-->
<div><span>配件: </span>{$rsdb[peijian]} </div>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
if(!empty($rsdb[jishucaishu])){print <<<EOT
-->
<div><span>技术参数: </span>{$rsdb[jishucaishu]} </div>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
if(!empty($rsdb[qita])){print <<<EOT
-->
<div><span>其他: </span>{$rsdb[qita]} </div>
<!--
EOT;
}print <<<EOT
-->


                </div>
            </div>

            <div class="shopbuy">

              <form name="buyform" id="buyform" method="post" action="join.php?fid=$fid&cid=$id">
                <span class="input">
                <input type="hidden" name="hownum" size="8" value="1">
                <input type="hidden" name="is_ask" id="is_ask" value="0">
                </span>
                  <span class="butter"><a href="javascript:void(0);" onclick="postbuy('only_ask');">询价洽谈</a>
                </span>
                  <span class="butter"><a href="javascript:;" onClick="postbuy('buy')">现在购买</a>
                </span>

                <script defer src="images/jquery.flexslider-min.js"></script>
                <script language="JavaScript">
<!--
$(document).ready(function() {
    $('.flexslider').flexslider({
        animation: "slide",
        prevText:"<<",
        nextText:">>"
    });
});
function postbuy(status){
    if (status=='buy') {
        document.getElementById("buyform").submit();
    } else if (status=='only_ask') {
        $('#is_ask').val('1');
        document.getElementById("buyform").submit();
    }
    else{
        if('$lfjuid'!= ''){
            $.post("$webdb[www_url]/do/add_to_cart.php", {data: {fid:$fid, cid:$id}}, function(data) {
                if (data =='success') {

                } else {
                    alert('未能成功加入，请重新加入采购列表');
                }
            });
        }
        else{
            //redirect to login page
        window.location = "$webdb[www_url]/do/login.php";
        }
    }
}
//-->
</script>

                <div class="order_do">
                    <a href="job.php?job=report&fid=$fid&id=$id" class="report" target="_blank">举报</a>
                    <a href="job.php?job=collect&id=$id" class="fav" target="_blank">收藏</a>
                </div>
                <span class="add_to_cart_btn"><a href="javascript:;" onClick="postbuy('pushtocart')">加入采购列表</a>
                </span>
                  <div style="clear:both;"></div>
              </form>
            </div>

            <div class="content"> 
              <div class="h"><span>详细介绍</span></div>
              <div class="c"><table width="100%" cellspacing="0" cellpadding="0" style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word' align="center">
              <tr> 
                <td>$rsdb[content]</td>
              </tr>
            </table></div>
            </div>
          </td>
        </tr>
      </table>


    </td>
    <td width="25%" height="246" valign="top" class="side"> 
      <div class="sell_bencandy_r"> 
        <div class="h"><span class="l">产品出售方信息</span>
          <!--span class="r"><a href="#">查看商家</a></span-->
        </div>
        <div class="c"><span id="cname">$companydb[title]</span> 
          <div>认证情况:{$renzhengDB[$companydb[renzheng]]}</div>
          <div>发布者ID:<a href="$webdb[www_url]/member/homepage.php?uid=$rsdb[uid]"  onClick="if($rsdb[uid]==0)return false;" target="_blank"><span>$rsdb[username]</span></a></div>
          <div>联系人:$companydb[qy_contact]</div>
          <div>联系电话:$companydb[qy_contact_tel]</div>
          <div>传真:$companydb[qy_contact_fax]</div>
          <div>联系邮箱:$companydb[qy_contact_email]</div>
          <div class="img"><a href="$webdb[www_url]/shome/?uid=$rsdb[uid]" target="_blank"><img src="images/default/goshop.gif" border="0"></a></div>
        </div>
      </div>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td class="head"> 
            <div class="LL"></div>
            <div class="TAG">最新商品</div>
            <div class="RR"></div>
          </td>
        </tr>
        <tr> 
          <td class="CC"> 
            <!--
EOT;
$array=list_title('new',10);
foreach($array AS $rs){print <<<EOT
-->
            <div><a href="bencandy.php?city_id=$rs[city_id]&fid=$rs[fid]&id=$rs[id]" target="_blank">$rs[title]</a></div>
            <!--
EOT;
}print <<<EOT
-->
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
<!--
EOT;
?>
-->
