<!--
<?php
print <<<EOT
-->

<script type="text/javascript">
    $(document).ready(function() {
        $('#btn_use_gutai').click(function() {

        });

        selectTab('{$opera}');
    });
</script>
<div class="w1000 mg_at clearfix">
    <div class="orderList fl">
        <ul>
            <li><a href="$webdb[www_url]/shop/gutai_config.php" class="oList">基本设置</a></li>

            <li><a href="$webdb[www_url]/shop/gutai_pay.php?job=list" class="oList">终止和付款</a></li>
            <li class="on"><a href="$webdb[www_url]/shop/gutai_money.php" class="oList">现有余额</a></li>
            <li><a href="$webdb[www_url]/shop/gutai_trade.php" class="oList">交易采购单</a></li>
            <li><a href="$webdb[www_url]/shop/gutai_paper.php" class="oList">采购协议文本</a></li>
            <li><a href="$webdb[www_url]/shop/gutai_faq.php" class="oList">服务说明</a></li>
            <li><a href="http://www.darkgreen.cn/chatwithgogo.php" class="oList">客服GOGO</a></li>

        </ul>
    </div>
<div class="rtWrap fr mt">
    <h2>&nbsp;</h2>
    <div class="mt20">
        <span class="sp1"><a href="$webdb[www_url]/shop/gutai_money.php">返回现有余额</a></span>
    </div>

    <div class="oBox3">
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
                <td colspan="4">
                    <div style="float: left;">帐户名称：{$gutai_conf[gutai_name]} 银行名称：{$gutai_conf[gutai_bankid]} 帐号：{$gutai_conf[gutai_obligate_account]}
                         系统显示操作人已认证</div>
                    <div id="tab_area" style="float:right;">
                        <span id="tab1"><a href="gutai_money_list.php?opera=提现">提现</a></span> |
                        <span id="tab2"><a href="gutai_money_list.php?opera=充值">充值</a></span> |
                        <span id="tab3"><a href="gutai_money_list.php?opera=退款">退款</a></span>
                    </div>
                </td>
            </tr>
<!--
EOT;
foreach($listdb AS $key=>$rs){
if(true) {
print <<<EOT
-->
<tr>
    <td><span class="sBlue">时间：$rs[posttime]</span></td>
    <td>操作内容：$rs[gutai_type]</td>
    <td>金额：<span>{$rs[amount]}</span>元</td>
    <td>状态：<span  id="status{$rs[id]}">$rs[status]</span></td>
</tr>
<!--
EOT;
} }print <<<EOT
-->
            </tbody></table>
    </div>
</div>
</div>
</div>
<script language="javascript" src="$webdb[www_url]/images/default/default.js"></script>
<!--
EOT;
?>
-->