<!--
<?php
print <<<EOT
-->
<script type="text/javascript">
    $(document).ready(function() {
        $('#btn_use_gutai').click(function() {

        })
    });
</script>
<div class="w1000 mg_at clearfix">
    <div class="orderList fl">
        <ul>
            <li><a href="$webdb[www_url]/shop/gutai_config.php" class="oList">基本设置</a></li>

            <li><a href="$webdb[www_url]/shop/gutai_pay.php?job=list" class="oList">终止和付款</a></li>
            <li><a href="$webdb[www_url]/shop/gutai_money.php" class="oList">现有余额</a></li>
            <li><a href="$webdb[www_url]/shop/gutai_trade.php" class="oList">交易采购单</a></li>
            <li ><a href="$webdb[www_url]/shop/gutai_paper.php" class="oList">采购协议文本</a></li>
            <li  class="on"><a href="$webdb[www_url]/shop/gutai_faq.php" class="oList">服务说明</a></li>
            <li><a href="http://www.darkgreen.cn/chatwithgogo.php" class="oList">客服GOGO</a></li>

        </ul>
    </div>
<div class="rtWrap fr mt">
    <h2 style="text-align: left; padding-left: 15px;">古太企业行服务说明</h2>
    <div class="oBox4">
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
                <td width="50px">&nbsp;</td>
                <td><span class="sGray">
                    一、绿叶商务服务条款是平台的核心商务文书，是我们的服务协议。
                    <br /><br />
                    二、古太企业行服务平台主要功能是贸易和文化交流的工具性平台，优质的客户是我们的业务伙伴，合作共赢是我们的期望。
                    <br /><br />
                    三、收货快线是多种商务工具之一，执行确定而清晰的客户指令，责任客户是当次订单的责任人，平台不对交易成败负责。
                    <br /><br />
                    四、收货快递完整的组成是---产品物资>信息>协议>资金>物流，本台权承担有限技术责任。
                    <br /><br />
                    五、古太企业行关于产品商品的信息，包括相片、图文、达成的买卖协议到具体的实现。
                        <br /><span style="margin-left: 50px;"> A、放置关于商品的图片或说明到营销版，方便与有意者商谈。</span>
                        <br /><span style="margin-left: 50px;">B、放置 1-贸易协议 2-协议款 到古太企业行采购协议订单和此单帐户。</span>
                        <br /><span style="margin-left: 50px;">C、双方履行协议---卖方(或代理商)提供附加协议内容的商品。</span>
                        <br /><span style="margin-left: 160px;">买方按照协议验货，指令提前付款或提出异议。</span>
                        <br /><span style="margin-left: 50px;">D、平台一定时间内保留相关数据，可出具原始内容的文件、纸质档案、保证内容的完整与确定。</span>
                        <br /><span style="margin-left: 50px;">买方可防范风险损失，卖方有标准化的营销平台，体面产品信心。</span>
                    <br /><br />
                    六、您的建议和投诉是我们前进的动力。
                </span></td>
            </tr>
            </tbody></table>

    </div>



</div>
</div>
</div>
<script language="javascript" src="$webdb[www_url]/images/default/default.js"></script>
<!--
EOT;
?>
-->