<!--
<?php
print <<<EOT
-->
<script type="text/javascript">
    $(document).ready(function() {
        $('#btn_use_gutai').click(function() {

        })
    });
</script>
<div class="w1000 mg_at clearfix">
    <div class="orderList fl">
        <ul>
            <li><a href="$webdb[www_url]/shop/gutai_config.php" class="oList">基本设置</a></li>

            <li><a href="$webdb[www_url]/shop/gutai_pay.php?job=list" class="oList">终止和付款</a></li>
            <li><a href="$webdb[www_url]/shop/gutai_money.php" class="oList">现有余额</a></li>
            <li  class="on"><a href="$webdb[www_url]/shop/gutai_trade.php" class="oList">交易采购单</a></li>
            <li><a href="$webdb[www_url]/shop/gutai_paper.php" class="oList">采购协议文本</a></li>
            <li><a href="$webdb[www_url]/shop/gutai_faq.php" class="oList">服务说明</a></li>
            <li><a href="http://www.darkgreen.cn/chatwithgogo.php" class="oList">客服GOGO</a></li>

        </ul>
    </div>
<div class="rtWrap fr mt">
    <div class="typeMain">
        <div class="seller typeOn"><a href="$webdb[www_url]/shop/gutai_pay.php?job=list">卖出</a></div>
        <div class="buyer"><a href="$webdb[www_url]/shop/gutai_pay.php?job=mylist">买入</a></div>
    </div>
    <div style="float: right;"><input type="text" id="searchArea" class="yzIpt" style="width: 300px" />
        <input type="button" value="搜索" class="btnSend" onclick="search_order();" />
    </div>
    <div style="clear:both;"></div>
    <div class="rtWrap">
        <h2 style="text-align:left">&nbsp;&nbsp;交易采购单</h2>
    </div>

    <div class="oBox3">
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody><tr>
                <th width="30" scope="col">序号</th>
                <th width="120" scope="col">订单</th>
                <th width="100" scope="col">协约日期</th>
                <th width="60" scope="col">状态</th>
                <th width="70" scope="col">金额</th>
                <th width="50" scope="col">付款</th>
                <th width="50" scope="col">发货</th>
                <th width="80" scope="col">确认收货</th>
                <th width="60" scope="col">终止.售后</th>
                <th scope="col">协议文本</th>
                <th scope="col">删除</th>
            </tr>
<!--
EOT;
foreach($listdb AS $key=>$rs){
if($rs[shop][price]!=null) {
print <<<EOT
-->
            <tr>
                <td><span >{$rs[id]}</span></td>
                <td><span >{$rs[shop][title]}</span></td>
                <td>$rs[posttime]</td>
                <td><span  id="status{$rs[id]}">$rs[complete]</span></td>
                <td><span>{$rs[shop][price]}</span>元</td>
                <td><span>{$rs[pay]}</span></td>
                <td scope="col">$rs[send]</td>
                <td><span>{$rs[receive]}</span></td>
                <td>{$rs[afterService]}</td>
                <td>
                    <input type="hidden" name="protocol_text" value="{$rs[sellertext]}" />
                    <a href="javascript:void(0)" onclick="protocol_text(this);">
                    <img src="../shop/images/bg/arr.gif" /></a></td>
                <td><span class="sp2" style="cursor:pointer;">
                    <a href="?action=del&id={$rs[id]}">删除</a></span></td>
            </tr>
<!--
EOT;
} }print <<<EOT
-->
            </tbody></table>
    </div>

</div>
</div>
</div>

<div id="protocoldiv" class="refundmentDiv protocol_text_display">
    <div class="left">&nbsp;</div>
    <div class="right" style="margin: 15px;width: 455px;">
        <div class="rightBottom">
            <div class="rightRight" id="protocolTxt" style="height: 230px;line-height: 20px;OVERFLOW-X: auto;"></div>
        </div>
    </div>
</div>
<script language="javascript" src="$webdb[www_url]/images/default/default.js"></script>
<!--
EOT;
?>
-->