<!--
<?php
print <<<EOT
-->
<script type="text/javascript">
    $(document).ready(function() {
        $('#btn_use_gutai').click(function() {

        })
    });
</script>
<div class="w1000 mg_at clearfix">
    <div class="orderList fl">
        <ul>
            <li><a href="$webdb[www_url]/shop/gutai_config.php" class="oList">基本设置</a></li>

            <li  class="on"><a href="$webdb[www_url]/shop/gutai_pay.php?job=list" class="oList">终止和付款</a></li>
            <li><a href="$webdb[www_url]/shop/gutai_money.php" class="oList">现有余额</a></li>
            <li><a href="$webdb[www_url]/shop/gutai_trade.php" class="oList">交易采购单</a></li>
            <li><a href="$webdb[www_url]/shop/gutai_paper.php" class="oList">采购协议文本</a></li>
            <li><a href="$webdb[www_url]/shop/gutai_faq.php" class="oList">服务说明</a></li>
            <li><a href="http://www.darkgreen.cn/chatwithgogo.php" class="oList">客服GOGO</a></li

        </ul>
    </div>
    <div class="rtWrap fr mt">
        <div class="typeMain">
<!--
EOT;
if($job=='list' || $job=='send') {
print <<<EOT
-->
            <div class="seller typeOn"><a href="$webdb[www_url]/shop/gutai_pay.php?job=list">卖出</a></div>
            <div class="buyer"><a href="$webdb[www_url]/shop/gutai_pay.php?job=mylist">买入</a></div>
<!--
EOT;
} else {
print <<<EOT
-->
            <div class="seller "><a href="$webdb[www_url]/shop/gutai_pay.php?job=list">我是卖家</a></div>
            <div class="buyer typeOn"><a href="$webdb[www_url]/shop/gutai_pay.php?job=mylist">我是买家</a></div>
<!--
EOT;
}
print <<<EOT
-->

         </div>
        <div style="float: right;"><input type="text" id="searchArea" class="yzIpt" style="width: 300px" />
            <input type="button" value="搜索" class="btnSend" onclick="search_order();" />
        </div>
        <br/>
        <ul class="oBox2">
            <li>
                <div class=" t2">
                <span class="sGreen">系统操作验证</span><input type="text" style="display:none;" class="yzIpt" value="重新输入">
                        <span class="ml30 sGray"></span><input   type='text'  name='postdb[order_mobphone]' id='atc_order_mobphone'  value='$gutai_conf[gutai_mobile]' readonly />
                        <input type="button" class="btnSend" value="发送" id="send_validate_code"  onclick="send_order_sms('$webdb[www_url]', 2);"/>
                        <span class="ml30 sGray">写入收到的验证码</span>
                        <input type="text" name="yznum"  id="yznum" class="yzIpt"/><input type="button" value="确定" id="confirm_phone" onclick="confirm_sms_code('$webdb[www_url]');"/>
                        <span id="verified" class="sGreen ok_marker"><img src="$webdb[www_url]/images/default/ok.png"> 完成验证</span>
                        <input type="hidden" id="validate_code_already" value="" datatype='LimitB' min="9" max="9" msg='请验证手机号码'/>
                        <span  id="need_verify" class="sGray fail_marker"><br/>验证码错误</span>
                </div>
            </li>
        </ul>
        <div class="rtWrap" style="width: 920px;">
            <h2 style="text-align:left">&nbsp;&nbsp;付款 和 终止</h2>
        </div>
        <div style="clear:both;"></div>
        <div class="oBox3" style="width: 920px;">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr>
                    <th width="30" scope="col">序号</th>
                    <th width="120" scope="col">订单</th>
                    <th width="100" scope="col">协约日期</th>
                    <th width="120" scope="col">系统设置的付款日</th>
                    <th width="60" scope="col">状态</th>
                    <th width="70" scope="col">金额</th>
                    <th width="50" scope="col">付款</th>
                    <th width="50" scope="col">发货</th>
                    <th width="70" scope="col">支付密码</th>
                    <th width="80" scope="col">确认收货</th>
                    <th width="60" scope="col">终止.售后</th>
                    <th scope="col">简要备注</th>
                    <th scope="col">终止</th>
                </tr>
<!--
EOT;
foreach($listdb AS $key=>$rs){
if($rs[shop][price]!=null) {
print <<<EOT
-->
                <tr>
                    <td><span >{$rs[id]}</span></td>
                    <td><span >{$rs[shop][title]}</span></td>
                    <td>$rs[posttime]</td>
                    <td><span class="sBlue">$rs[posttime]</span></td>
                    <td><span  id="status{$rs[id]}">$rs[complete]</span></td>
                    <td><span>{$rs[shop][price]}</span>元</td>
                    <td><span>{$rs[pay]}</span></td>
                    <td scope="col">$rs[send]</td>

                    <td><input type="password" class="yzIpt " value="" id="pwd{$rs[id]}" ></td>
                    <td><span>{$rs[receive]}</span></td>
                    <td>{$rs[afterService]}</td>
                    <td><input type="text" class="yzIpt" id="comment{$rs[id]}" value="$rs[end_comment]"></td>
                    <!--
EOT;
if($job=='mylist') {
print <<<EOT
-->
                    <td><span class="sp2" style="cursor:pointer;" onclick="end_order({$rs[id]}, '$rs[ajaxurl]',0);">终止</span></td>
<!--
EOT;
} else {
print <<<EOT
-->
                    <td><span class="sp2" style="cursor:pointer;" onclick="end_order({$rs[id]}, '$rs[ajaxurl]',1);">终止</span></td>
<!--
EOT;
}
print <<<EOT
-->
                </tr>
<!--
EOT;
} }print <<<EOT
-->
</tbody></table>
        </div>
    </div>
</div>
</div>

<div id="get_goods_verification_popup" class="pay_popup" style="display: none;">
    <div class="content">
        <p class="information">请核实，您收到的货物符合双方光宇本商品交易的约定。<br/>
            点击[确认收货]，即指令平台将货款立即转入卖家账户！<br/>
            请谨慎操作</p>
        <div class="action_bars">
            <button class="ok">确定</button>
            <button class="cancel">取消</button>
        </div>
    </div>
</div>

<div id="get_shouhou_popup" class="pay_popup" style="display: none;">
    <div class="content">
        <p class="information">请核实，您收到的货物符合双方关于商品交易的约定。<br/>
            点击[申请售后]，即平台、卖方将复核您的申请。<br/>
            请谨慎操作，平台积极维护消费者权益和优良的商务协议！<br/>
            首先，将相关资料（照片、文档）上传至平台管理中心和卖方客户中心。</p>
        <div class="action_bars">
            <input type="hidden" id="orderId" />
            <button class="ok" onclick="applyYes()">确定</button>
            <button class="cancel" onclick="applyNo()">取消</button>
        </div>
    </div>
</div>

<div id="upload_shouhou_resources_popup" class="pay_popup">
    <div class="content">
        <p>申请支付终止或卖方售后服务应确定原因，请选择</p>
        <div class="radio_inputs">
            <p><input type="radio" name="shouhou_excuse"/>收货延期，卖方无应答</p>
            <p><input type="radio" name="shouhou_excuse"/>存在质量\设计问题</p>
            <p><input type="radio" name="shouhou_excuse"/>与双方---约定的\说明的\文本（包含照片）协议的内容不符</p>
            <p><input type="radio" name="shouhou_excuse"/>其他您已确定的原因</p>
        </div>
        <p>请上传包括主要相关内容的图文资料！</p>
        <p><input type="file" name="upload_file"/></p>
        <div class="action_bars">
            <button class="ok">确定</button>
            <button class="cancel">取消</button>
        </div>
    </div>
</div>
<div id="already_submitted_popup" class="pay_popup">
    <div class="content">
        <p>平台管理中心和卖方客户中心已收到您提交的内容！<br/>
            请24小时内查看您的邮箱邮件，阅读卖方的书面回复意见。</p>
        <div class="action_bars">
            <p class="platform_name_tel">绿页商务平台&nbsp; 400 0532 796<button>客户服务GOGO</button></p>

        </div>
    </div>
</div>
<script language="javascript" src="$webdb[www_url]/images/default/default.js"></script>
<!--
EOT;
?>
-->