<!--
<?php
print <<<EOT
-->
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/default/common.css">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="100" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
        <tr> 
          <td class="head">网银帐号设置</td>
        </tr>
        <tr> 
          <td class="middle"> 
            <table width="100%" border="0" cellspacing="1" cellpadding="3" class="linetable">
              <form name="form_work" method="post" action="?action=set">
                <tr class="head3"> 
                  <td colspan="3" bgcolor="#cccccc">&nbsp;</td>
                </tr>
                <tr> 
                  <td width='28%' bgcolor='#FFFFFF'><div class="pay_red">银联支付</div><div class="pay_right">商户编号：</div></td>
                  <td colspan='2' bgcolor='#FFFFFF'> 
                    <input    type='text' size='30' value='$conf[yeepay_id]' name='postdb[yeepay_id]'>
                    <!--<a href="https://www.yeepay.com/reg.html" target="_blank">注册</a>
                    <a href="https://www.yeepay.com/individualservice/Login.action" target="_blank">登录</a>--></td>
                </tr>
                <tr> 
                  <td width='28%' bgcolor='#FFFFFF'><div class="pay_right">商户密钥：</div></td>
                  <td colspan='2' bgcolor='#FFFFFF'> 
                    <input    type='text' size='40' value='$conf[yeepay_key]' name='postdb[yeepay_key]'>
                  </td>
                </tr>
                <tr class="head3"> 
                  <td colspan="3" bgcolor="#cfcfcf">&nbsp;</td>
                </tr>
                <tr> 
                  <td width='28%' bgcolor='#FFFFFF' ><div class="pay_red">财付通</div><div class="pay_right">商户编号：</div></td>
                  <td colspan='2' bgcolor='#FFFFFF' > 
                    <input    type='text' size='30' value='$conf[tenpay_id]' name='postdb[tenpay_id]'>
                    <a href="http://union.tenpay.com/mch/mch_register.shtml?posid=123&actid=84&opid=50&whoid=31&sp_suggestuser=1202267301" target="_blank">注册</a>
                    <a href="http://mch.tenpay.com/" target="_blank">登录</a></td>
                </tr>
                <tr>
                    <td width='28%' bgcolor='#FFFFFF'><div class="pay_right">商户密钥：</div></td>
                  <td colspan='2' bgcolor='#FFFFFF' > 
                    <input    type='text' size='40' value='$conf[tenpay_key]' name='postdb[tenpay_key]'>
                  </td>
                </tr>
                <tr class="head3"> 
                  <td colspan="3" bgcolor="#cfcfcf">&nbsp;</td>
                </tr>
                <tr bgcolor="#FFFFFF"> 
                  <td width='28%'><div class="pay_red">支付宝</div><div class="pay_right">商户编号：</div></td>
                  <td colspan='2'> 
                    <input    type='text' size='30' value='$conf[alipay_id]' name='postdb[alipay_id]'>
                    <a href="https://www.alipay.com/user/user_register.htm" target="_blank">注册</a> 
                    <a href="https://www.alipay.com/" target="_blank">登录</a></td>
                </tr>
                <tr bgcolor="#FFFFFF"> 
                  <td width='28%'><div class="pay_right">交易安全校验码（key）：</div></td>
                  <td colspan='2'> 
                    <input    type='text' size='30' value='$conf[alipay_key]' name='postdb[alipay_key]'>
                  </td>
                </tr>
                <tr bgcolor="#FFFFFF"> 
                  <td width='28%'><div class="pay_right">合作者身份（partnerID）：</div></td>
                  <td colspan='2'> 
                    <input    type='text' size='30' name='postdb[alipay_partner]' value='$conf[alipay_partner]'>
                    <a href="https://www.alipay.com/user/login.htm?goto=https%3A%2F%2Fwww.alipay.com%2Fhimalayas%2Fpracticality_profile_edit.htm" target="_blank" style="color:#03F">签约地址</a>(您可以通过注册获得一个支付宝的合作者身份ID，拥有该ID，您可以在支付宝网站上查询到该ID产生的所有交易历史</td>
                </tr>
                <tr bgcolor="#FFFFFF"> 
                  <td width='28%'><div class="pay_right">接口类型：</div></td>
                  <td colspan='2'> 
                    <select name="postdb[alipay_service]">
                      <option value="create_partner_trade_by_buyer" $alipay_service[create_partner_trade_by_buyer]>纯担保交易</option>
                      <option value="trade_create_by_buyer" $alipay_service[trade_create_by_buyer]>标准实物</option>
                      <option value="create_direct_pay_by_user" $alipay_service[create_direct_pay_by_user]>即时到账</option>
                    </select>
                  </td>
                </tr>
                <tr bgcolor="#FFFFFF" style="display:none;"> 
                  <td width='28%'>提交方式</td>
                  <td colspan='2'> 
                    <select name="postdb[alipay_transport]">
                      <option value="https" $alipay_transport[https]>https</option>
                      <option value="http" $alipay_transport[http]>http</option>
                    </select>
                  </td>
                </tr>

                  <tr bgcolor="#FFFFFF">
                      <td colspan='3' class="usage_description">
                          说明：以上支付系统，您如果没有账号应先注册，在进入版面 - 提取相应密钥等 - 填入相应空格 - 并登陆。确定后变更须手机验证。可只使用1组或同时使用多组，方便安全。
                      </td>
                  </tr>

                <tr class="head3"> 
                  <td colspan="3" bgcolor="#cfcfcf">&nbsp;</td>
                </tr>
                <tr class="tr_deliver">
                  <td width='28%' bgcolor='#FFFFFF' ><div class="pay_red">邮费设置</div>
                      <br/><br/> <div class="pay_right">普通快递邮费：</div></td>
                  <td colspan='2' bgcolor='#FFFFFF'  class="text_right"> <br/><br/>
                    <input    type='text' size='5' value='$conf[norm_send]' name='postdb[norm_send]'>
                    <a href="https://www.99bill.com/website/login/authentication.htm" target="_blank"></a>元 
                  </td>
                </tr>
                <tr class="tr_deliver">
                  <td width='28%' bgcolor='#FFFFFF' ><div class="pay_right">EMS邮费：</div></td>
                  <td colspan='2' bgcolor='#FFFFFF' class="text_right">
                    <input    type='text' size='5' value='$conf[ems_send]' name='postdb[ems_send]'>
                    元 </td>
                </tr>
                <tr class="tr_deliver">
                  <td width='28%' bgcolor='#FFFFFF' ><div class="pay_right">平邮邮费：</div></td>
                  <td colspan='2' bgcolor='#FFFFFF'  class="text_right">
                    <input    type='text' size='5' value='$conf[slow_send]' name='postdb[slow_send]'>
                    元
                  </td>
                </tr>
                  <tr class="tr_deliver">
                      <td width='28%' bgcolor='#FFFFFF' ></td>
                      <td colspan='2' bgcolor='#FFFFFF' class="text_small_right">
                          物流说明
                          <input    type='text' size='75' value='$conf[transfer_comment]' name='postdb[transfer_comment]'>
                          <br/><br/>
                      </td>
                  </tr>
                  <tr class="head3">
                      <td colspan="3" bgcolor="#cfcfcf">&nbsp;</td>
                  </tr>
                  <tr class="tr_deliver">
                      <td width='28%' bgcolor='#FFFFFF' ><div class="pay_red">邮递、货运设置</div>

                          <div class="pay_right">
                          物流单位名称:<input type="text" size='9' name="postdb[deliver_type1]" value='$conf[deliver_type1]' /></div></td>
                      <td colspan='2' bgcolor='#FFFFFF'  class="text_small_right">
                          综合费用:
                          <input    type='text' size='5' value='$conf[transfer_fee1]' name='postdb[transfer_fee1]'>
                          元
                          &nbsp;&nbsp;说明
                          <input  type='text' size='59' value='$conf[transfer_comment1]' name='postdb[transfer_comment1]'>
                      </td>
                  </tr>
                  <tr class="tr_deliver">
                      <td width='28%' bgcolor='#FFFFFF' ><div class="pay_right">
                          物流单位名称:<input type="text" size='9' name="postdb[deliver_type2]" value='$conf[deliver_type2]' /></div></td>
                      <td colspan='2' bgcolor='#FFFFFF'  class="text_small_right">
                          综合费用:
                          <input    type='text' size='5' value='$conf[transfer_fee2]' name='postdb[transfer_fee2]'>
                          元
                          &nbsp;&nbsp;说明
                          <input  type='text' size='59' value='$conf[transfer_comment2]' name='postdb[transfer_comment2]'>
                      </td>
                  </tr>
                  <tr class="tr_deliver">
                      <td width='28%' bgcolor='#FFFFFF' ><div class="pay_right">
                          物流单位名称:<input type="text" size='9' name="postdb[deliver_type3]" value='$conf[deliver_type3]' /></div></td>
                      <td colspan='2' bgcolor='#FFFFFF' class="text_small_right">
                          综合费用:
                          <input    type='text' size='5' value='$conf[transfer_fee3]' name='postdb[transfer_fee3]'>
                          元
                          &nbsp;&nbsp;说明
                          <input  type='text' size='59' value='$conf[transfer_comment3]' name='postdb[transfer_comment3]'>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="3" bgcolor="#cfcfcf">&nbsp;</td>
                  </tr>
                <tr bgcolor="#FFFFFF"> 
                  <td width="27%" align="center">&nbsp;</td>
                  <td width="73%"> 
                    <input type="submit" name="Submit" value="确定内容" style="background-color: #f7e0aa;border:1px solid darkorange;">
                  </td>
                </tr>
                  <tr bgcolor="#FFFFFF">
                      <td colspan='3' class="usage_description">
                          说明：以上空格由商户根据自己的业务情况填入内容，有内容客户终端版面显示此项；没内容就不显示此项。可同时使用1组或多组设置。
                      </td>
                  </tr>
                  <tr>
                      <td colspan="3">&nbsp;</td>
                  </tr>
              </form>
            </table>
          </td>
        </tr>
        <tr> 
          <td class="foot"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
    <tr>
        <td height="100" valign="top" class="Main">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
                <tr>
                    <td class="head head_t"><span>古太行</span>
                    <div style="float:right">您可以选择平台贸易辅助系统，使用商铺更方便、快捷</div></td>
                </tr>
                <tr>
                    <td class="middle gutai_middle">
                        <table width="100%" border="0" cellspacing="1" cellpadding="3" class="linetable">
                            <form name="gutaibank_form" method="post" enctype="multipart/form-data" action="?action=gutaibank_set">
                                <tr>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width='28%' bgcolor='#FFFFFF'><div class="pay_right">商户编号：</div></td>
                                    <td colspan='2' bgcolor='#FFFFFF'>
                                        <input    type='text' size='40' value='$gutai_conf[gutai_id]' name='postdb[gutai_id]'>
                                        绿页登录号码
                                     </td>
                                </tr>
                                <tr>
                                    <td width='28%' bgcolor='#FFFFFF'><div class="pay_right">支付密码：</div></td>
                                    <td colspan='2' bgcolor='#FFFFFF'>
                                        <input    type='password' size='40' value='' name='postpwd[gutai_pwd]'>
                                    </td>
                                </tr>
                                <tr>
                                    <td width='28%' bgcolor='#FFFFFF'><div class="pay_right">再次输入支付密码：</div></td>
                                    <td colspan='2' bgcolor='#FFFFFF'>
                                        <input    type='password' size='40' value='' name='postpwd[gutai_repwd]'>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"><hr/></td>
                                </tr>
                                <tr>
                                    <td width='28%' bgcolor='#FFFFFF'>
                                        <div class="pay_right">责任人姓名：</div></td>
                                    <td colspan='2' bgcolor='#FFFFFF'>
                                        <input    type='text' size='40' value='$gutai_conf[gutai_name]' name='postdb[gutai_name]'>
                                    </td>
                                </tr>
                                <tr>
                                    <td width='28%' bgcolor='#FFFFFF'>
                                        <div class="pay_right">手机号码：</div></td>
                                    <td colspan='2' bgcolor='#FFFFFF'>
                                        <div class=" t2">
                                           <input   type='text'  name='postdb[gutai_mobile]' id='atc_order_mobphone'  value='$gutai_conf[gutai_mobile]'>
                                            <input type="button" class="btnSend" value="发送" id="send_validate_code"  onclick="send_order_sms('$webdb[www_url]', 2);"/>
                                            <span class="ml30 sGray">写入收到的验证码</span>
                                            <input type="text" name="yznum"  id="yznum" class="yzIpt"/><input type="button" value="确定" id="confirm_phone" onclick="confirm_sms_code('$webdb[www_url]');"/>
                                            <span id="verified" class="sGreen ok_marker"><img src="$webdb[www_url]/images/default/ok.png"> 完成验证</span>
                                            <input type="hidden" id="validate_code_already" value="" datatype='LimitB' min="9" max="9" msg='请验证手机号码'/>
                                            <span  id="need_verify" class="sGray fail_marker"><br/>验证码错误</span>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td width='28%' bgcolor='#FFFFFF'>
                                        <div class="pay_right">电话号码：</div></td>
                                    <td colspan='2' bgcolor='#FFFFFF'>
                                        <input    type='text' size='40' value='$gutai_conf[gutai_phone]' name='postdb[gutai_phone]'>
                                    </td>
                                </tr>
                                <tr>
                                    <td width='28%' bgcolor='#FFFFFF'>
                                        <div class="pay_right">身份证号码：</div></td>
                                    <td colspan='2' bgcolor='#FFFFFF'>
                                        <input    type='text' size='40' value='$gutai_conf[gutai_card_id]' name='postdb[gutai_card_id]'>
                                    </td>
                                </tr>
                                <tr>
                                    <td width='28%' bgcolor='#FFFFFF' valign="top">
                                        <div class="pay_right">上传身份证：</div></td>
                                    <td colspan='2' bgcolor='#FFFFFF'>
                                        <input    type='file' size='40' name='postcard'>
<!--
EOT;
if($gutai_conf["upload_card"]) {
print <<<EOT
-->
                                        <br /><img src='$gutai_conf[upload_card]'  width='200px' />
<!--
EOT;
}
print <<<EOT
-->
                                    </td>
                                </tr>
                                <tr>
                                    <td width='28%' bgcolor='#FFFFFF'>
                                        <div class="pay_right">邮箱号码：</div></td>
                                    <td colspan='2' bgcolor='#FFFFFF'>
                                        <input    type='text' size='40' value='$gutai_conf[gutai_email]' name='postdb[gutai_email]'>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"><hr/></td>
                                </tr>
                                <tr>
                                    <td width='28%' bgcolor='#FFFFFF'>
                                        <div class="pay_right">账号银行：</div></td>
                                    <td colspan='2' bgcolor='#FFFFFF'>
                                        <input    type='text' size='40' value='$gutai_conf[gutai_bankid]' name='postdb[gutai_bankid]'>
                                    </td>
                                </tr>
                                <tr>
                                    <td width='28%' bgcolor='#FFFFFF'>
                                        <div class="pay_right">预留账号：</div></td>
                                    <td colspan='2' bgcolor='#FFFFFF'>
                                        <input    type='text' size='40' value='$gutai_conf[gutai_obligate_account]' name='postdb[gutai_obligate_account]'>
                                    </td>
                                </tr>
                                <tr>
                                    <td width='28%' bgcolor='#FFFFFF'>
                                        <div class="pay_right">预留信息：</div></td>
                                    <td colspan='2' bgcolor='#FFFFFF'>
                                        <textarea   type='text' size='40' name='postdb[gutai_obligate_msg]'>$gutai_conf[gutai_obligate_msg]</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" bgcolor="#cfcfcf">&nbsp;</td>
                                </tr>
                                <tr bgcolor="#FFFFFF">
                                    <td width="27%" align="center">&nbsp;</td>
                                    <td width="73%">
                                        <input type="submit" name="Submit" value="确定内容" style="margin-right:20px;background-color: #f7e0aa;border:1px solid darkorange;">

                                        <div style="border: 1px solid #D2CC76;height: 16px;width:110px;line-height: 16px;padding: 2px 6px;display:inline;">
                                            <a href="$webdb[www_url]/shop/gutai_config.php" target="_top">登录"收贷快线"平台</a></div>
                                        <br/><br/>
                                    </td>
                                </tr>
                                </form>
                          </table>
                    </td>
                    </tr>
                <tr>
                    <td class="foot"></td>
                </tr>
                </table>
            </td>
        </tr>
</table>
<!--
EOT;
?>
-->
