<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--<?php
$sitetitle = "搜索－".$webdb[Info_webname]."－".$webdb['webname'];
$useractword = $lfjid ? "<a href=\"$webdb[www_url]/member/\" target=\"_blank\">会员中心</a> | <a href=\"$webdb[www_url]/do/login.php?action=quit\"  >退出</a>" : "<a href=\"$webdb[www_url]/do/reg.php\">注册</a> | <a href=\"$webdb[www_url]/do/login.php\" >登录</a>" ;
$type = $type ? $type : "title";
$keywords = $keyword ? $keyword : "请输入您要查找的内容";
$typedb[$type] = "checked";
$showinfo = ""; 
print <<<EOT
-->
<head>
<title>$sitetitle</title>
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/default/s/s.css">
<link rel=stylesheet id="themecss" type="text/css" rev="stylesheet" href="$webdb[www_url]/images/default/s/s1.css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="keywords" content="$titleDB[keywords]">
<meta name="description" content="$titleDB[description]">
</head>
<body ondblclick="$bodyondblclick">
<div class="TopContainer">
    <div style="float:left;">
        <script type="text/javascript">
            function closeme(){
                var browserName=navigator.appName;
                if (browserName=="Netscape") {
                    window.open('','_parent',''); window.close();
                } else if (browserName=="Microsoft Internet Explorer") {
                    window.opener = "whocares"; window.close();
                }
            }
        </script>
        <a href="javascript:closeme();" style="color: rgb(176, 0, 12);">关闭</a>

    </div>
    <div style="float:right; margin-right: 20px;">
        <a href="http://www.darkgreen.cn">平台</a> |
        $useractword
    </div>
</div>
<div class="Hearder">
	<div class="logo"><a href="$webdb[www_url]/search/search.php"><img src="$webdb[www_url]/images/default/s/logo.jpg"/></a></div>
    <div class="searchcont">
    	<ul class="module">
            <li class="begin"><span><a href="$webdb[www_url]/hy/search.php?action=$action&keyword=$keyword&type=$type">行业.企业</a></span></li>
            <li><span><a href="$webdb[www_url]/shop/search.php?action=$action&keyword=$keyword&type=$type">产品.物资</a></span></li>
            <li><span><a href="$webdb[www_url]/dianpu/search.php?action=$action&keyword=$keyword&type=$type">绿页商铺</a></span></li>
            <li class="ck"><span><a href="$webdb[www_url]/news/search.php?action=$action&keyword=$keyword&type=$type">商贸资讯 </a></span></li>

        </ul>
      <form name="form" method="post" action="?" onsubmit="return checkpost();">
        <div class="keyword">
       	  <input name="keyword" type="text" value="$keywords" onClick="if(this.value.indexOf('请输入您要查找的')!=-1)this.value=''"/>
        </div>
        <div class="type">

        </div>
        <div class="submit"><input name="Submit" type="image" src="$webdb[www_url]/images/default/s/sub.gif" /></div>
         <input type="hidden" name="action" value="search">
      </form>
        <div class="showinfo">$showinfo</div>
    </div>
</div>
<div class="Container">
	<div class="Mhead">
        <ul id="themelist">
          <li class="current" id="theme1"><a href="javascript:;">显示侧边栏</a></li>
          <li id="theme2"><a href="javascript:;">隐藏侧边栏</a></li>
        </ul>
    </div> 
    <div class="Mcont">
    	<div class="sideL">
        	<dl class="showsort">
            	<dt>{$webdb[Info_webname]}栏目</dt>
                <dd>
<!--
EOT;
foreach($Fid_db[0] AS $key=>$value){
$boldcss=$fid==$key?" style=\"font-weight:bold;\"":"";
print <<<EOT
-->
              		<div><a href="search.php?action=$action&keyword=$keyword&type=$type&fid=$key"{$boldcss}>{$Fid_db[name][$key]}</a></div>
<!--
EOT;
}
print <<<EOT
-->

			   </dd>
            </dl>
        </div>

        <div class="MainC">
<!--
EOT;
foreach($listdb AS $key=>$rs){
$rs[title]=str_replace($keyword,"<span>".$keyword."</span>",$rs[title]);
print <<<EOT
-->	
			<ul>
            	<li class="t"><a href="bencandy.php?fid=$rs[fid]&id=$rs[id]" target="_blank">$rs[title]</a></li>
                <li class="c">{$content}</li>
                <li class="m">
                	浏览(<span>{$rs[hits]}</span>)次
                    <span>{$rs[posttime]}</span>发布
                    所在栏目：<a href="$rs[Lurl]" target="_blank">$rs[fname]</a>
                </li>
            </ul>
<!--
EOT;
}print <<<EOT
-->

<!--
EOT;
if(count($listdb) <= 0 && $keyword){
print <<<EOT
-->
             <div style="color: rgb(0, 153, 193);  margin-top: 185px; font-size: 16px;">抱歉, 没有找到您需要的内容。</div>
<!--
EOT;
}print <<<EOT
-->
		  <div class="page">$showpage</div>
        </div>
        <div class="sideR">

        </div>
        <div style="clear:both;"></div> 
    </div>      
</div>
<div class="FootCont"></div>
<SCRIPT LANGUAGE="JavaScript">
<!--


//-->
</SCRIPT>
</body>
</html>
<!--
EOT;
?>
-->

