<!--
<?php
print <<<EOT
-->
<table width="100%" cellspacing="1" cellpadding="3" class="tablewidth">
    <tbody><tr class="head">
        <td colspan="4">
            <div align="center"><font color="#FFFFFF">卖家终止</font></div>
        </td>
    </tr>
    <tr bgcolor="#FFFFFF">
        <td width="25%" align="left">采购单编号</td>
        <td width="25%" align="left">卖家指令付款</td>
        <td width="25%" align="left">卖家确认</td>
        <td width="25%" align="left">简要备注</td>
    </tr>
<!--
EOT;
foreach($listdb as $key=>$value) {print <<<EOT
-->
    <tr bgcolor="#FFFFFF">
        <td width="25%" align="left">{$value[id]}</td>
        <td width="25%" align="left">{$value[end_date]} 指令终止</td>
        <td width="25%" align="left"><img src="images/right.jpg" /> </td>
        <td width="25%" align="left">{$value[end_comment]}</td>
    </tr>
<!--
EOT;
}print <<<EOT
-->
    </tbody>
</table>
<!--
EOT;
?>
-->