<html>
<head>
    <title>卖方基本信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
</head>
<body>
<!--
<?php
print <<<EOT
-->
    <table cellpadding="0">
        <tr>
            <td width="80">账号银行:</td>
            <td>{$gutai_conf[gutai_bankid]}</td>
        </tr>
        <tr>
            <td>预留账号:</td>
            <td>{$gutai_conf[gutai_obligate_account]}</td>
        </tr>
        <tr>
            <td>预留信息:</td>
            <td>{$gutai_conf[gutai_obligate_msg]}</td>
        </tr>
    </table>
</body>
<!--
EOT;
?>
-->
</html>